html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#head {
    width: 100%;
    background-color: #000;
    height: 15%;
    margin: 0;
    padding: 0;
    color: #E96669;
    border-bottom: 1px solid #fff;
}

#user {
    float: left;
    width: 50%;
    height: 100%;
}

#headBox {
    float: left;
    width: 50%;
    height: 100%;
}

#username {
    margin: 0;
    padding: 30px;
    font-size: 20px;
    color: #E96669;
}

#headText {
    margin: 0;
    color: #E96669;
    font-size: 20px;
    vertical-align: bottom;
    text-align: right;
    padding-bottom: 50px;
    
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  
}


#nav {
    width: 19.5%;
    background-color: #000;
    color: #fff;
}

.navbar {
        
}

@media (max-width: 775px) {
    #nav {
        display: none;
        width: 0;
        
    }

    
}

#navText {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    font-size: 14px;
}

.menu {
    padding: 2px;
    text-align: right;
} 

.menuText {
    text-decoration: none;
    color: #fff;
}

.menuText:hover {
    color: #E96669;
}

#ukryta {
    color: #a0a0a0;
    font-size: 12px;
}

#ukryta:hover {
    color: #E96669;
}

#ukrytaActive {
    text-decoration: none;
    color: #E96669;
    font-size: 12px;
}
#userHref {
    text-decoration: none;
    color: #E96669;
    border: 1px solid rgba(250,250,250,0.5);
    padding: 10px;
    border-radius: 10px;
}

#userHref:hover {
    background-color: #E96669;
    color: #fff;
  
}
.imagesBox {
    width: 80%;
    height: 100%;
}

@media (max-width: 775px) {
    .imagesBox {
        width: 100%;
    }
}

#background {
    background: url('arbuzy.jpg'); 
	background-repeat: repeat;
	background-attachment: fixed;
 	background-size: cover;
	opacity: 1;
}

#singleImageDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.singleimages {
    max-width: 50%;
    padding-left: 25px;
    position: absolute;
    right: 18%;
}

#singleImage {
    max-height: 550px;

}

.aboutImage {
    width: 35%;
    padding-left: 30px;
    padding-top: 30px;
}

#comments {
    flex: none;
    margin-top: 20px;
    width: 35%;
    padding-left: 30px;
}

#pusty {
    width: 100%;
}

@media (max-width: 775px) {
    #singleImageDiv {
        display: block;
        flex-direction: unset;
        flex-wrap: nowrap;
    }

    .singleimages {
        position: static;
    }

    .aboutImage {
        width: 100%;
        padding-right: 30px;
        padding-top: 0;
        padding-left: 10px;
    }

    #pusty {
        position: absolute;
        visibility: hidden;
    }

    #comments {
        width: 100%;
    }

}

#imageDiv {
    width: 40%;
}

.pageTitle {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 5px;
}

#hide {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#image:hover {
    opacity: 0.5;
}

#image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

#imageDiv:hover #image {
    opacity: 0.5;
}

#imageDiv:hover #hide {
    opacity: 1;
}

#imageTitle {
    font-size: 22px;
    margin: 0;
}

#usun,
#zmien, #edytuj, #ukryta, #usunKomentarz, #userObserwuj {
    text-decoration: none;
}

#usun, #edytuj, #usunSingle {
    color:  #E96669;
    padding-left: 2em;
}

#usun {
    padding-bottom: 20px;
}

#userObserwuj {
    font-size: 14px;
    color:  #E96669;
    padding-left: 3em;
}


.imagesBox,
.imagesBoxTable, #zmien, #zmienForm, .navbar {
    color: #fff;
}

.imagesBoxTable {
    padding: 10px;
    width: auto;
}
#udostepnij, #usunSingle {
    text-decoration: none;
    color: #E96669;
}

#skoncz, #edytujSingle {
    text-decoration: none;
    color: #a0a0a0;
}

#edytujSingle, #usunSingle {
    font-size: 14px;

}

#activePage {
    text-decoration: underline #E96669;
}

.row {
    padding: 5px;
}

#wyloguj {
    padding-top: 20px;
    text-align: right;

}

#wylogujText:hover, #zmienForm h2, #usunKomentarz:hover  {
    color: #E96669;
}

#szukaj_ponownie, #dodajOpis, #wylogujText {
    text-decoration: none;
    color: #E96669;
}

#commentUser {
    color: #E96669;
    padding-right: 2em;
}
.szukany_user {
    color: #fff;
    text-decoration: none;
}

.szukany_user:hover {
    color: #E96669;
}

#searched_user {
    padding: 10px;
}

#dodaj_obrazek,
#szukaj_po {
    padding-left: 15px;
}

.table-dark > tbody > tr:nth-child(n) > td, .table-dark > tbody > tr:nth-child(n) > th {
    background-color: #000;
 }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #E96669 !important;
    border-color: #E96669;
    padding: 5px 7px;
}

#isPublicButton {
    padding:2px;
    font-size: 14px;
    margin-left: 2em;
    background-color: #000 !important;
    border-color: #000;
    color: #E96669;
}

#registerForm, #imageForm {
    padding: 30px;
}

.opacity {
    margin: 3%;
    background-color: rgba(0,0,0,0.7);
}

#commentForm {
    padding-top: 20px;
}

.form-control {
    font-size: 12px;
}
.dodajButton {
    background-color: #E96669;
}

#szukajButton {
    text-align: center;
}

.szukajBox {
    padding-top: 20px;
    padding-left: 20px;
}
#wroc {
    padding: 5px;
    width: 100%;
    border: 1px solid #E96669;
    border-radius: 15px 50px;
    background-color: #E96669;
    text-align: center;
}

#wroc:hover {
    background-color: #fff;
}

#wrocText {
    text-decoration: none;
    color: #fff;
}

#wrocText:hover, #singleTitle {
    color: #E96669;
}

#tableObserwuj {
    padding: 30px 0 0 30px;
}

#usunKomentarz {
    color: #a0a0a0;
}

#topBtn {
	position: fixed;
	bottom: 40px;
    text-align: center;
	right: 40px;
	font-size: 1em;
	width: 50px;
	height: 50px;
	color: #E96669;
	background-color: #000;
	border-radius: 50%;
	border: none;
	display: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
@media(max-width: 1750px) {
    .my-custom-scrollbar{
        height: 325px;
    }
}

@media (max-width: 1250px) {
    .my-custom-scrollbar {
      height: 250px;
     
    }
}

@media (max-height: 500px) {
    .my-custom-scrollbar {
        height: 150px;
        
      }
}

.table-wrapper-scroll-y {
    display: block;
}

#koperta {
    color: #a0a0a0;
    font-size: 28px;    
}

.topnav {
    overflow:visible;
    background-color: #000;
    position: absolute;
    top:0;
    width: 100%;
    visibility: hidden;
    
}

@media (max-width: 775px) {
    .topnav {
        position: static;
        visibility: visible;
        float: right;
        z-index: 1;
    }

}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
  
  /* Style navigation menu links */
  .topnav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: #E96669;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #000;
    color: #fff;

  }

  .form-check-input:checked {
    background-color: #E96669;
  }