html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#head {
    width: 100%;
    background-color: #000;
    height: 15%;
    margin: 0;
    padding: 0;
    color: #E96669;
    border-bottom: 1px solid #fff;
}

#user {
    float: left;
    width: 50%;
    height: 100%;
}

#headBox {
    float: left;
    width: 50%;
    height: 100%;
}

#username {
    margin: 0;
    padding: 30px;
    font-size: 20px;
    color: #E96669;
}

#headText {
    margin: 0;
    color: #E96669;
    font-size: 20px;
    vertical-align: bottom;
    text-align: right;
    padding-bottom: 50px;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}


#nav {
    width: 19.5%;
    background-color: black;
    color: #fff;
}

#navText {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    font-size: 14px;
}

.menu {
    padding: 2px;
    text-align: right;
} 

.menuText {
    text-decoration: none;
    color: #fff;
}

.menuText:hover {
    color: #E96669;
}

#userHref {
    text-decoration: none;
    color: #E96669;
}
#imagesBox {
    width: 80%;
}

#singleImageDiv {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}

#singleImage {
    max-width: 550px;
    max-height: 550px;
}

.aboutImage {
    margin-left: 50px;
    margin-top: 50px;
}

#komentarze {
    margin-top: 50px;
}

#imageDiv {
    width: 30%;
}

.pageTitle {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 5px;
}

#hide {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#image:hover {
    opacity: 0.5;
}

#image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

#imageDiv:hover #image {
    opacity: 0.5;
}

#imageDiv:hover #hide {
    opacity: 1;
}

#imageTitle {
    font-size: 22px;
    margin: 0;
}

#usun,
#zmien {
    text-decoration: none;
}

#usun {
    color:  #E96669;
    padding-left: 2em;
}

#zmien {
    color: #fff;
}

#imagesBox,
.imagesBoxTable {
    color: #fff;
}

.imagesBoxTable {
    padding: 10px;
    width: auto;
    border: 1px solid yellow;
}
#udostepnij {
    text-decoration: none;
    color: greenyellow;
}

#skoncz {
    text-decoration: none;
    color: #E96669;
}

.row {
    padding: 5px;
}

#wyloguj {
    padding: 5px;
    text-align: right;

}

#wylogujText {
    text-decoration: none;
    color: #E96669;
}

#wylogujText:hover {
    color: #E96669;
}

#zmienForm {
    color: #fff;
}

#zmienForm h2 {
    color: #E96669;
}

#szukaj_ponownie {
    text-decoration: none;
    color: #E96669;
}

.szukany_user {
    color: #fff;
    text-decoration: none;
}

.szukany_user:hover {
    color: #E96669;
}

#searched_user {
    padding: 10px;
}

#dodaj_obrazek,
#szukaj_po {
    padding-left: 15px;
}

.table-dark > tbody > tr:nth-child(n) > td, .table-dark > tbody > tr:nth-child(n) > th {
    background-color: black;
 }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #E96669 !important;
    border-color: #E96669;
}

#registerForm, #imageForm {
    padding: 30px 0 0 30px;
}

.dodajButton {
    background-color: #E96669;
}

#wroc {
    padding: 5px;
    width: 100%;
    border: 1px solid #E96669;
    border-radius: 15px 50px;
    background-color: #E96669;
    text-align: center;
}

#wroc:hover {
    background-color: #fff;
}

#wrocText {
    text-decoration: none;
    color: #fff;
}

#wrocText:hover {
    color: #E96669;
}

#tableObserwuj {
    padding: 30px 0 0 30px;
}
